html,
body {
  height: 100%;
  background: #eee;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: black;
  color: white;
}

.scroll-animations-example {
  > .scrollsection {
    padding: 10vh 10vh 10vh 10vmax;
    min-width: 550vh;
  }

  > .scrollsection > .item {
    display: inline-block;
    position: relative;
    margin: 0 -30vh 0 3vh;
  }

  > .scrollsection > .item::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  > .scrollsection > .item.-big {
    height: 80vh;
    width: 60vh;
  }

  > .scrollsection > .item.-big.-horizontal {
    height: 60vh;
    width: 80vh;
  }

  > .scrollsection > .item.-normal {
    height: 60vh;
    width: 45vh;
    z-index: 1;
  }

  > .scrollsection > .item.-normal.-horizontal {
    height: 45vh;
    width: 60vh;
  }

  > .scrollsection > .item.-normal:nth-of-type(3n) {
    bottom: 5vh;
  }

  > .scrollsection > .item.-normal:nth-of-type(4n) {
    bottom: -5vh;
  }

  > .scrollsection > .item.-small {
    height: 40vh;
    width: 30vh;
    z-index: 2;
  }

  > .scrollsection > .item.-small.-horizontal {
    height: 30vh;
    width: 40vh;
  }

  > .scrollsection > .item.-small:nth-of-type(3n) {
    bottom: 13vh;
  }

  > .scrollsection > .item.-small:nth-of-type(4n) {
    bottom: -13vh;
  }

  > .scrollsection > .item > .image {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: grayscale(1);
    opacity: 0;
    pointer-events: none;
    transform: translateX(0) translateY(0) scale(1);
    transition: filter 0.3s ease, opacity 1s ease, transform 1s ease;
  }

  > .scrollsection > .item:nth-of-type(4n) > .image {
    transform: translateX(-30vh) translateY(-30vh) scale(0.8);
    transition-delay: 0;
  }

  > .scrollsection > .item:nth-of-type(4n - 1) > .image {
    transform: translateX(30vh) translateY(30vh) scale(0.8);
    transition-delay: 0.05s;
  }

  > .scrollsection > .item:nth-of-type(4n - 2) > .image {
    transform: translateX(-30vh) translateY(30vh) scale(0.8);
    transition-delay: 0.1s;
  }

  > .scrollsection > .item:nth-of-type(4n - 3) > .image {
    transform: translateX(-30vh) translateY(-30vh) scale(0.8);
    transition-delay: 0.15s;
  }

  > .scrollsection > .item > .image.-active {
    transform: translateX(0) translateY(0) scale(1);
    opacity: 0.8;
    pointer-events: auto;
    transition: filter 0.3s ease, opacity 1s ease, transform 1s ease;
  }

  > .scrollsection > .item > .image.-clicked {
    transform: translateX(0) translateY(0) scale(5);
    opacity: 0;
    pointer-events: auto;
    transition: filter 0.3s ease, opacity 1s ease, transform 1s ease;
  }

  > .scrollsection > .item > .image.-active:hover {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: grayscale(0);
    opacity: 1;
    cursor: pointer;
  }
}
.item{
  position: relative;
}
.item h1{
  display: none;
  width: 100%;
  position: absolute;
  top: 40%;
  text-align: center;
  z-index: 1;
}
.item:hover h1{
  display: block;
}

.intro-hover{
  position: absolute;
  display: none;
}


.fake-ui {
  width: 100%;
  > .logo {
    position: fixed;
    top: 2vh;
    /* left: 1vh; */
    height: 3vh;
    width: 30vh;
    /* font-family: Georgia, serif; */
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 30px;
    color: black;
  }

  > .nav {
    position: fixed;
    top: 2vh;
    right: 2vh;
  }

  > .nav > .item {
    display: inline-block;
    height: 2vh;
    width: 5vh;
    margin: 0 3vh;
    /* font-family: Georgia, serif; */
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 20px;
  }

  > .footer {
    font-family: 'Dancing Script', cursive;
    letter-spacing: 3px;
    position: fixed;
    bottom: 3vh;
    text-align: center;
    transform: translateX(-50%);
    height: 2vh;
    left: 50%;
    width: 100vh;
  }
}

/* logo css */
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

.logo {
  font-size: calc(20px + 18vh);
  /* line-height: calc(20px + 20vh); */
  /*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #00aeff, 0 0 15px #00aeff, 0 0 20px #00aeff,
    0 0 40px #00aeff, 0 0 60px #003cff, 0 0 10px #ff8d00, 0 0 98px #003cff;
  color: #9ff2ff;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

/* body {
  padding: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 7px,
    rgba(0, 0, 0, 0.8) 9px,
    rgba(0, 0, 0, 0.8) 13px,
    transparent 13px
  );
} */

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    /*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
      text-shadow: 0 0 5px #00aeff, 0 0 15px #00aeff, 0 0 20px #00aeff,
      0 0 40px #00aeff, 0 0 60px #003cff, 0 0 10px #ff8d00, 0 0 98px #003cff;
    color: #9ff2ff;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    /*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
      text-shadow: 0 0 5px #00aeff, 0 0 15px #00aeff, 0 0 20px #00aeff,
      0 0 40px #00aeff, 0 0 60px #003cff, 0 0 10px #ff8d00, 0 0 98px #003cff;
    color: #9ff2ff;
  }
}
