* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row {
  display: flex;
}
.col {
  display: flex;
  flex-direction: column;
}

@import url("https://fonts.googleapis.com/css?family=Manrope:700|Manrope:400");

:root {
  --text: hsl(0, 0%, 99%);
  --textDim: hsl(0, 0%, 60%);
  --background: hsl(0, 0%, 7%);
  --primary: hsl(155, 100%, 65%);
  --primaryBg: hsla(155, 100%, 65%, 1%);
  --primaryHi: hsla(155, 100%, 75%, 25%);
  --primaryFg: hsl(155, 100%, 85%);
  --secondary: hsl(156, 51%, 14%);
  --secondaryFg: hsl(156, 51%, 75%);
  --secondaryBg: hsla(156, 51%, 14%, 5%);
  --secondaryHi: hsla(156, 51%, 30%, 50%);
  --accent: hsl(155, 100%, 94%);
  --accentBg: hsla(155, 100%, 94%, 1%);
  --accentHi: hsla(155, 100%, 100%, 25%);
}

body {
  font-family: "Manrope";
  font-weight: 400;
  background-color: var(--background);
  color: var(--text);
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
  height: 200vh;
  overflow: hidden;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  color: var(--textDim);
  width: 100%;
  box-sizing: border-box;
  /* z-index: 9999; */
}
/* nav:hover{
    margin-top: -12.7vh;
    margin-bottom: -12.7vh;
    height: 30vh; */
/* } */

/* trigger */
.trigger {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}

.trigger:hover {
  color: var(--text);
  cursor: pointer;
}
.trigger:hover .sub {
  height: 20vh;
  cursor: pointer;
}

.trigger {
  box-sizing: border-box;
  position: relative;
  padding: 10px;
  text-align: center;
}

.sub {
  box-sizing: border-box;
  position: absolute;
  top: 30px;
  left: 0;
  color: #fff;
  text-align: left;

  /* hide element for now */
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  /* make submenu not hoverable when opacity transition finished,
     * do this instantaneously */
  transition: max-height 0s 1.5s,
    /* hide the submenu after 1 second, in 400ms */ opacity 0.4s 1s;

  /* prevent users from showing submenu when hovering hidden element */
  /* pointer-events: none; */
}

/* sub elements can be hovered */
.sub > * {
  pointer-events: auto;
}

/* show submenu when trigger or menu itself is hovered */
.sub:hover,
.trigger:hover .sub {
  /* overflow: auto;
    cursor: pointer; */
  max-height: 500px;
  opacity: 1;
  transition-delay: 0s;
}

/* give items some spacing */
.item {
  cursor: pointer;
  z-index: 2;
}

.item:not(:last-child) {
  padding: 10px 10px 5px;
}
.item:last-child {
  padding: 10px;
}

/*  */

.sitename {
  font-weight: bold;
}

.grid {
  position: absolute;
  height: 100%;
  /* weight: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  z-index: -1;
}

.grid-svg {
  height: 80%;
  width: 80%;
  position: relative;
  /* z-index: 1; */
}

.blur {
  height: 12rem;
  width: 12rem;
  background-color: var(--primary);
  filter: blur(100px);
  border-radius: 100px;
  /* z-index: 0; */
  position: absolute;
}

.title {
  width: 70%;
  overflow: scroll;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.1rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-self: center;
  height: 80%;
  /* z-index: 1000; */
}
.title::-webkit-scrollbar {
  width: 10px;
}
.title::-webkit-scrollbar-thumb {
  background-color: #2f3542;
}
.title::-webkit-scrollbar-track {
    display: none;
  background-color: grey;
}
출처: https://codingbroker.tistory.com/66 [완벽은 없다:티스토리]
  
  .title > p {
  margin: 0;
  line-height: 10rem;
  width: auto;
  align-self: flex-start;
}

.material-icons {
  display: none;
  fill: var(--text);
}

span {
  width: 100px;
  height: 60px;
  background-color: var(--primaryHi);
  border-radius: 100%;
  filter: blur(20px);
  position: absolute;
  bottom: -50%;
  transition: all 0.2s ease;
}

.button:hover > span {
  opacity: 60%;
}

.button:hover > button {
  transform: translateY(5px);
}

.button.first {
  top: 20%;
  right: 20%;
}

.button.sec {
  bottom: 13%;
  right: 11%;
}

.button.sec > button {
  background-color: var(--accentBg);
  box-shadow: 0px -3px 15px 0px var(--accentHi) inset;
  color: var(--accentFg);
}

.button.sec > span {
  background-color: var(--accentHi);
}

.button.third {
  bottom: 30%;
  left: 15%;
}

.button.third > button {
  background-color: var(--secondaryBg);
  box-shadow: 0px -3px 15px 0px var(--secondary) inset;
  color: var(--secondaryFg);
}

.button.third > span {
  background-color: var(--secondaryHi);
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
  /* z-index: -1; */
  opacity: 50%;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  /* z-index: -1; */
  opacity: 50%;
}

@media screen and (max-width: 1000px) {
  .title {
    font-size: 4rem;
    line-height: 0;
  }

  .title > p {
    line-height: 5rem;
    letter-spacing: -0.3rem;
  }

  nav > :not(.sitename, .material-icons) {
    display: none;
  }

  nav {
    justify-content: space-between;
  }

  .material-icons {
    display: flex;
    align-items: center;
  }
}
