* {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
}
.col {
  display: flex;
  flex-direction: column;
}
hr {
  margin: 10px;
}

body {
  font-family: "Lato", sans-serif;
}
.container{
  background-color: black;
  color: white;
  position: relative;
}
/* fixed navigator */
.nav-wrapper{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(135, 207, 235, 0.5);
  position: fixed;
  bottom: 30px;
  right: 30px;
  text-align: center;
  line-height: 70px;
  z-index: 3;
  cursor: pointer;
}
.nav-wrapper:hover{
  transform: scale(1.1);
  transition: 0.5s;
}

/* card section */
.row-card {
  justify-content: space-around;
}
.hero-card-section img {
  margin-top: 20px;
  width: 150px;
}

.hero-card-section .card-main-heading-section {
  margin-bottom: 3rem;
  margin-left: 1rem;
}
.hero-card-section .card-main-heading-section ol{
  margin: 20px;
  line-height: 30px;
}
.hero-card-section .card-main-heading-section li{
  font-weight: 600;
}
.hero-card-section .card-main-heading-section h1 {
  text-align: center;
}

.hero-card-section .card-main-heading-section .card-main-heading {
  font-weight: 800;
  margin-bottom: 2rem;
}

.block-badge {
  padding: 3px 10px;
  max-width: 22.1875rem;
  border-radius: 12px;
  display: block;
  margin-top: 0;
  margin-bottom: 1.5625rem;
  background-image: linear-gradient(90deg, #e64c4c5f 0%, #ef32fb5f 100%);
  font-size: 13px;
  color: #000;
  letter-spacing: 0.26px;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.hero-card-section .card-title {
  font-weight: 700;
}

.col-md-4 p {
  margin: 10px;
  position: relative;
  line-height: 23px;
}
.col-md-4 a {
  position: absolute;
  bottom: 0;
}

section.hero-card-section .row-card > .hero-card-container:nth-child(1) .card {
  height: 250px;
  background-image: linear-gradient(153deg, #e64c4c8f 0%, #ef32fb8f 95%);
  box-shadow: 0 3px 15px 0 rgba(231, 74, 89, 0.4);
}

section.hero-card-section .row-card > .hero-card-container:nth-child(2) .card {
  height: 250px;
  background-image: linear-gradient(153deg, #ef33f28f 0%, #3544dc8f 95%);
  box-shadow: 0 3px 15px 0 rgba(92, 64, 224, 0.5);
}

section.hero-card-section .row-card > .hero-card-container:nth-child(3) .card {
  height: 250px;
  background-image: linear-gradient(153deg, #8adc328f 0%, #25c7a28f 95%);
  box-shadow: 0 3px 15px 0 rgba(59, 203, 137, 0.4);
}

section.hero-card-section .row-card > .hero-card-container > .card {
  position: relative;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 25px 15px;
  max-width: 320px;
  margin: auto;
  z-index: 2;
}

.card-body a{
  z-index: 3;
  cursor: pointer;
}

section.hero-card-section .row-card > .hero-card-container > .card::after {
  position: absolute;
  content: "";
  right: -1rem;
  bottom: -1rem;
  left: 1rem;
  top: 1rem;
  border-radius: 15px;
  z-index: 1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

section.hero-card-section
  .row-card
  > .hero-card-container:nth-child(1)
  > .card::after {
  background: rgba(237, 23, 251, 0.2);
}

section.hero-card-section
  .row-card
  > .hero-card-container:nth-child(2)
  > .card::after {
  background: rgba(92, 64, 224, 0.2);
}

section.hero-card-section
  .row-card
  > .hero-card-container:nth-child(3)
  > .card::after {
  background: rgba(59, 203, 137, 0.2);
}

section.hero-card-section .row-card > .hero-card-container > .card:hover::after,
section.hero-card-section .row-card > .hero-card-container > .card:focus::after,
section.hero-card-section
  .row-card
  > .hero-card-container
  > .card:active::after {
  left: -1rem;
  right: -1rem;
  top: -1rem;
  bottom: -3rem;
}

section.hero-card-section .row-card > .hero-card-container > .card .btn-card {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
  padding: 15px 0px;
  text-decoration: none;
}

section.hero-card-section
  .row-card
  > .hero-card-container
  > .card
  .btn-card
  > i {
  font-size: 16px;
  padding-left: 5px;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

section.hero-card-section .row-card > .hero-card-container > .card:hover {
  color: rgba(255, 255, 255, 1);
  transform: scale(1.02);
  transition: 0.2s;
}

section.hero-card-section .row-card > .hero-card-container > .card:hover i {
  padding-left: 10px;
}

/* section1 */
.section1 {
  margin: 20px;
}
.section1-1 ol{
  margin: 20px;
}
.section1-1 li{
  line-height: 25px;
  font-weight: 600;
}
.section1-1 h4{
  margin: 20px auto;
}
.section1-1 h5{
  line-height: 30px;
}
.section1-1 img{
  width: 70%;
  margin-left: 15%;
}

/* section2 */
.section2 {
  margin: 20px;
}
.gnina-self-docking img{
  width: 400px;
  margin: 20px;
  border-radius: 10px;border: 1px solid white;
}
.gnina-self-docking h5{
  margin: 20px;
}
.gnina-cross-docking img{
  width: 400px;
  margin: 20px;
  border-radius: 10px;border: 1px solid white;
}
.gnina-cross-docking h5{
  margin: 20px;
}
.gnina-final-docking img{
  width: 400px;
  margin: 20px;
  border-radius: 10px;border: 1px solid white;
}
.gnina-final-docking h5{
  margin: 20px;
}

.diffdock-issue img{
  width: 400px;
  margin: 20px;
  border-radius: 10px;border: 1px solid white;
}
.diffdock-issue h5{
  margin: 20px;
}

/* section 3 */
.section3 {
  margin: 20px;
}
.plip-intro img{
  width: 100px;
}
.plip-intro h5{
  margin: 20px;
}
.section3 a{
  text-decoration: none;
  color: skyblue;
}
.section3 code{
  margin-left: 20px;
  background-color: grey;
  border-radius: 3px;
  padding: 3px 10px;
}
#plip_pep{
  width: 600px;
}



.bottom {
  color: white;
  width: 100%;
  height: 150px;
  margin-top: 10px;
  background-color: black;
}

.bottom-1{
  height: 100%;
  margin-left: 20px;
  justify-content: space-around;
}
.bottom-1 a{
  text-decoration: none;
  color: skyblue;
}