* {
  transition-duration: 0.8s;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row {
  display: flex;
}
.col {
  display: flex;
  flex-direction: column;
}
.container {
  position: relative;
  height: 100vh;
  width: 100%;
  /* background-color: blue; */
  overflow: hidden;
  margin: 0px auto;
  position: relative;
  /* background: linear-gradient(to top, #fff, #fff 10%, transparent); */
  /* background: radial-gradient( skyblue, white ); */
  background: radial-gradient(
    circle at 50% 50%,
    black,
    rgba(5, 32, 52, 0.7) 60%,
    black
  );
  background-position: center;
  color: white;
}
video {
  /* width: 100%; */
  height: 100%;
  opacity: 0.15;
  z-index: -1;
}
.video {
  position: absolute;
  width: 700px;
  height: 700px;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -60%);
  overflow: hidden;
  border-radius: 50%;
}
#home-img {
  width: 200px;
  cursor: pointer;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
}

.rrd-text-wrapper {
  width: 95%;
  justify-content: space-around;
  text-transform: uppercase;
  font-family: Lato;
  line-height: 1.6em;
  letter-spacing: 0.1em;
}
.rrd-text h3 {
  /* margin: 30px 0; */
  text-align: center;
}
.rrd-text {
  position: relative;
  width: 60%;
}
.process {
  width: 300px;
  height: 40px;
  /* justify-content: space-between; */
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(59, 87, 121, 0.4) 100%
  );
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 5px;
  overflow: hidden;
}
.process h3 {
  padding: 2px;
  font-size: 13px;
  font-weight: 500;
}
.process h5 {
  font-size: 10px;
  font-weight: 100;
}
.process:hover {
  width: 500px;
  cursor: pointer;
  border-radius: 5px;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(59, 87, 121, 0.4) 100%
  );
  border: 1px solid white;
}
.process:hover .process-hide {
  display: block;
}
.process-hide {
  display: none;
  position: relative;
}
.process-hide img {
  margin-left: 10px;
  width: 80px;
  cursor: pointer;
}
/* .process-hide a:nth-child(1) img{
  margin-top: 10px;
} */
.process-hide p {
  font-size: 10px;
  line-height: 25px;
  margin-left: 10px;
}

.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.main-chart-wrapper {
  width: 400px;
  height: 200px;
  /* margin-top: 50px; */
  /* background-color: white; */
}

/* Option & Search */
.search-wrapper{
  border: 1px solid white;
  border-radius: 10px;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(59, 87, 121, 0.4) 100%
  );
  padding: 10px;
  width: 100%;
}
.search-bar-wrapper{
  width: 100%;
  justify-content: space-around;
}
#search-inp{
  width: 70%;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  padding: 2px;
  background-color: rgb(233, 233, 233);
  text-align: center;
}
#search-btn{
  width: 100px;
  /* border: none; */
  border-radius: 15px;
  padding: 2px;
}
.option-wrapper{
  width: 100%;
  justify-content: space-around;
}
.option{
  width: 30%;
}
.option p{
  font-size: 11px;
}
.option span{
  font-size: 9px;
  margin-left: 2px;
}
.option-month{
  width: 60%;
}
.option-month p{
  font-size: 11px;
}
.option-month span{
  font-size: 10px;
  margin-right: 20px;
  margin-left: 2px;
}

/* data table */
.rrd-data {
  margin: 30px auto;
  width: 95%;
  height: 45vh;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px;
  z-index: 1;
}
.rrd-data h2 {
  margin-bottom: 5px;
  text-align: center;
}
.rrd-data th {
  table-layout: fixed;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.rrd-data th:nth-child(1) {
  width: 12%;
}
.rrd-data th:nth-child(2) {
  width: 12%;
}
.rrd-data th:nth-child(3) {
  width: 12%;
}
.rrd-data th:nth-child(4) {
  width: 12%;
}
.rrd-data th:nth-child(5) {
  width: 40%;
}
.rrd-data th:nth-child(6) {
  width: 12%;
}
.rrd-data td {
  /* border: 1px solid white; */
  table-layout: fixed;
  width: 16%;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
}
#rrd-data-col table {
  width: 100%;
}
#rrd-data-data {
  width: 100%;
}
#rrd-data-data td {
  font-size: 14px;
  text-align: center;
}
#rrd-data-data td:nth-child(1) {
  width: 12%;
}
#rrd-data-data td:nth-child(2) {
  width: 12%;
}
#rrd-data-data td:nth-child(3) {
  width: 12%;
}
#rrd-data-data td:nth-child(4) {
  width: 12%;
}
#rrd-data-data td:nth-child(5) {
  width: 40%;
}
#rrd-data-data td:nth-child(6) {
  width: 12%;
}
/* scroll */
.rrd-table-wrapper {
  overflow: auto;
  margin-right: 5px;
}
.rrd-table-wrapper::-webkit-scrollbar {
  width: 10px;
}
.rrd-table-wrapper::-webkit-scrollbar-thumb {
  height: 10%;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
}
.rrd-table-wrapper::-webkit-scrollbar-track {
  border: 5px solid rgba(255, 255, 255, 0);
  /* background: rgba(255, 255, 255, 0.1); */
}

.service-wrapper {
  width: 95%;
  height: 10vh;
  margin: 0 auto;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  justify-content: space-around;
  text-transform: uppercase;
  font-family: Lato;
  line-height: 1.6em;
  letter-spacing: 0.1em;
  padding: 10px 0;
}
#select-data {
  color: white;
  background-color: rgba(59, 87, 121, 0.4);
}
#select-data option {
  background-color: rgba(59, 87, 121, 0.4);
}
.down {
  width: 300px;
  height: 40px;
  /* justify-content: space-between; */
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(59, 87, 121, 0.4) 100%
  );
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 5px;
  overflow: hidden;
}
.down h3 {
  padding: 2px;
  font-size: 13px;
  font-weight: 500;
}
.down span {
  margin: 3px;
  font-size: 10px;
  margin-left: 10px;
}
.down:hover {
  width: 500px;
  cursor: pointer;
  border-radius: 5px;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(59, 87, 121, 0.4) 100%
  );
  border: 1px solid white;
}
.down:hover .down-hide {
  display: block;
}
.down-hide {
  margin-left: 40px;
  display: none;
}
.down-hide a {
  text-decoration: none;
  color: white;
  font-size: 7px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 2px;
}
.down-hide select {
  width: 120px;
  /* margin-left: 100px; */
}
.down-hide select option:nth-child(1) {
  text-align: center;
}
.down-hide select option:nth-child(n + 2) {
  text-align: right;
}

.chart-section {
  width: 100%;
  height: 100%;
  /* background-color: black; */
  position: relative;
}
.chart-section h3 {
  text-align: center;
}
.other-section {
  width: 25%;
  height: 100%;
  /* background-color: black; */
}
.QnA {
  transition-duration: 0s;
  width: 300px;
  height: 40px;
  /* justify-content: space-between; */
  border: 1px solid white;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(59, 87, 121, 0.4) 100%
  );
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  /* overflow: hidden; */
}
.QnA h3{
  padding: 2px;
  font-size: 13px;
  font-weight: 500;
}
.QnA-hide {
  display: none;
}
.QnA-hide p {
  font-size: 2px;
  margin-left: 30px;
}
.QnA-popup {
  display: none;
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: black;
  opacity: 0.8;
  border: 1px solid white;
  border-radius: 10px;
  z-index: 3;
  bottom: 40px;
  /* left: 100px; */
  right: 0;
  cursor: auto;
}
.QnA span {
  margin: 2px;
  font-size: 8px;
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 1px;
  border-radius: 10px;
}
.QnA-popup-close {
  margin-left: 280px;
  margin-top: 5px;
  background-color: red;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  z-index: 2;
}
.QnA-popup-input {
  width: 90%;
  height: 80%;
  margin: 5px auto;
  color: black;
}
.QnA-popup-input textarea {
  width: 100%;
  height: 100%;
}
#QnA-popup-submit {
  width: 100px;
  margin-left: 100px;
  border-radius: 5px;
}

/* Chart */
.open-chart {
  width: 100%;
  height: 50px;
  margin: 10px;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(59, 87, 121, 0.4) 100%
  );
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
  margin-bottom: 10px;
}
.open-chart p {
  font-size: 11px;
  letter-spacing: 4px;
  text-align: center;
}
.chart-1 {
  display: none;
  position: absolute;
  left: 0;
  width: 600px;
  height: 600px;
  z-index: 2;
  top: 70px;
  left: 70px;
}
.chart-1 canvas {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  padding: 20px;
}
.chart1-close {
  position: absolute;
  margin: 5px;
  right: 0;
  background-color: red;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  z-index: 2;
}
.chart-2 {
  display: none;
  position: absolute;
  left: 0;
  width: 600px;
  height: 600px;
  z-index: 2;
  top: 70px;
  left: 70px;
}
.chart-2 canvas {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  padding: 20px;
}
.chart2-close {
  position: absolute;
  margin: 5px;
  right: 0;
  background-color: red;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  z-index: 2;
}
.chart-3 {
  display: none;
  position: absolute;
  left: 0;
  width: 600px;
  height: 600px;
  z-index: 2;
}
.chart-3 canvas {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  padding: 20px;
}
.chart3-close {
  position: absolute;
  margin: 5px;
  right: 0;
  background-color: red;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  z-index: 2;
}
.chart-4 {
  display: none;
  position: absolute;
  left: 0;
  width: 600px;
  height: 600px;
  z-index: 2;
  top: 70px;
  left: 70px;
}
.chart-4 canvas {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  padding: 20px;
}
.chart4-close {
  position: absolute;
  margin: 5px;
  right: 0;
  background-color: red;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  z-index: 2;
}

.other-section {
  margin-right: 10px;
}
.other-section h5 {
  font-size: 5px;
  text-align: right;
}
